* {
    font-family: 'Raleway', sans-serif;
}

.container {
    display: none;
    position: absolute;
    margin: auto;
	left: 20%;
    width: 63.021vw;
    height: 36.458vw;
    background-color: rgba(0, 0, 0, 0.863);
	/*background: #181918 !important;*/
    border-radius: 0.208vw;
    box-shadow: 0vw 0vw 1.042vw rgba(0, 0, 0, 0.42);
    transition: all 0.3s ease-in-out;
}

.container2 {
    display: none;
    position: absolute;
    margin: auto;
	left: 20.833vw;
    width: 63.021vw;
    height: 36.458vw;
    /*background-color: rgba(0, 0, 0, 0.863);*/
    background: #2b4f5aa6;
    border-radius: 0.313vw;
    box-shadow: 0.052vw 0.208vw 1.146vw rgba(56, 85, 93, 0.8);
    padding-bottom: 0.625vw;
}

.head {
    position: relative;
    top: 0vw;
    left: 0vw;
    /* background-color: rgba(71, 135, 237, 0.7); */
    width: 30%;
    height: 11.719vw;
    border-radius: 1.302vw 1.302vw 0 0;
}

.icon {
    position: relative;
    top: 1.823vw;
	left: 2.865vw;
    height: 13.021vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.close {
    position: relative;
    width: 2.344vw;
    top: 1.302vw;
    left: 42.448vw;
    float: right;
}

.one-bar {
    margin-left: auto;
    margin-right: auto;
    width: 10.417vw;
    height: 2.604vw;  
    position: relative;
    top: 1.563vw;
    border-radius: 2.604vw;
	left: 1.667vw;


    text-align: center;
    vertical-align: middle;
    line-height: 2.604vw;
    font-size: 1.302vw;
    border-radius: 0.208vw;
    padding-bottom: 0.313vw;
    border: none;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
}

.head-buttons {
    position: relative;
    width: 20.833vw;
    height: 2.604vw;  
    text-align: center;
    font-size: 1.042vw;
    top: 7.813vw;
}

.head-switch-in {
    position: absolute;
    width: 20.833vw;
    height: 2.604vw;
    background-color: white;
    border-radius: 0.260vw;
    margin: 1.302vw;
	left: -1.042vw;

    text-align: center;
    vertical-align: middle;
    line-height: 2.604vw;
    font-size: 1.042vw;
    border-radius: 0.208vw;
    padding-bottom: 0.313vw;
    border-left: 0.208vw solid #8a1111;
    background-color: rgba(0, 0, 0, 0.863);
    color: #ffffff;
    transition: all 0.5s ease-in-out;
}

.head-switch-out {
    position: absolute;
    width: 20.833vw;
    height: 2.604vw;
    background-color: white;
    float: left;
    border-radius: 0.260vw;
    margin: 1.302vw;
	top: 3.906vw;
	left: -1.042vw;

    text-align: center;
    vertical-align: middle;
    line-height: 2.604vw;
    font-size: 1.042vw;
    border-radius: 0.208vw;
    padding-bottom: 0.313vw;
    border-left: 0.208vw solid #8a1111;
    background-color: rgba(0, 0, 0, 0.863);
    color: #ffffff;
    transition: all 0.5s ease-in-out;
}

.divider {
    position: relative;
    top: 2.344vw;
    width: 100%;
	left: 1.719vw;
    border: white 0.052vw solid;
}

.selected {
    background: #8a1111;
    color: #d2d2d2;
}

.garage-vehicles {
    display: block;
    position: relative;
    width: 40.104vw;
    height: 28.646vw;
    bottom: 6.510vw;
    left: 22.396vw;
    overflow: auto;
	background-color: rgba(0, 0, 0, 0.863);
}

.garage-vehicles list {
    padding: 0; /* remove default padding and all margins! */
    margin: 0;
    list-style-type: none; /* remove the • */
}

.garage-vehicles vehicle-list {
    width: 7.813vw;
    height: 5.208vw;
    background-color: red;
    float: left;
}

.vehicle {
    padding: 0; /* remove default padding and all margins! */
    margin: 0;
    list-style-type: none; /* remove the • */
    width: 13.021vw;
    height: 3.906vw;
	float: left;
	padding-bottom: 0.625vw;
}

.vehicle-inner {
    position: relative;
    width: 95%;
    height: 90%;
    background-color: rgb(105, 105, 105);
    border-radius: 1.042vw;

    display: block;
    margin-left: auto;
    margin-right: auto;

    top: 5%;
    border-radius: 0.208vw;
    padding-bottom: 0.313vw;
    border: none;
    background-color: #272727;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
	border-color: #0e0e0e;
}

.garage-vehicles::-webkit-scrollbar {
    width: 0.521vw;
    height: 0.781vw;
}

.garage-vehicles::-webkit-scrollbar-track {
    border-radius: 0.521vw;
    background-color: rgba(255, 255, 255, 0.1);
}

.garage-vehicles::-webkit-scrollbar-thumb {
    background-color: rgba(120, 17, 138, 0.7);
    border-radius: 1.042vw;
      -webkit-box-shadow: rgba(0,0,0,.12) 0 0.156vw 0.677vw 0.052vw;
}

.inner-icon {
    position: relative;
    width: 3.385vw;
    top: 5%;
    left: 5%;
}

.inner-label-knz {
    position: absolute;
    top: 0.521vw;
    left: 2.604vw;
    width: 89%;
    text-align: center;
    color: white;
    font-weight: 750;
	font-size: 75%;
    letter-spacing: 0.052vw;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }